@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    height: 560px;
    width: 340px;
    max-width: none;
    min-width: 340px;
  }
  .image {
    width: 100%;
    height: 40%;

    img {
      width: 100%;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 0;
      border-top-right-radius: 15px;
    }
  }
  .article {
    padding: 30px 30px 20px 30px;
    h1 {
      margin-top: 10px;
      font-size: 1.05rem;
      margin-bottom: 15px;
    }
    p {
      color: $cl_txt;
      font-size: 0.89rem;
      line-height: 22px;
      margin-bottom: 30px;
    }
  }
  .popup {
    top: -10%;
    right: -78%;
    width: 340px;
    height: 75px;
    padding: 25px 40px;
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;

    a {
      margin-left: 15px;
      img {
        width: 20px;
        height: 20px;
      }
    }
    p {
      letter-spacing: 4px;
    }
    &::before {
      content: "";
      border-top: 25px solid transparent;
    }
    &.active {
      visibility: visible;
    }
  }

  #share-btn {
    position: relative;
    z-index: 2;
  }
}
